table.dataTable td.MEDIUM {
  background-color:#6D9DC5;
}

table.dataTable td.HIGH {
  background-color:#3066BE;
  color:white;
}

table.dataTable td.LOW {
  background-color:#AEECEF;
  color:black;
}

table.dataTable td.NOT {
  background-color:#3066BE;
  color: white;
}


table.dataTable td.COMPLETED {
  background-color:white;
}

table.dataTable img.table-icon {
  height:60px;
  margin-top:30px;
}

table.dataTable td.IN-PLANNING {
  background-color:#80DED9;
  color:white; 
}

table.dataTable td.CAMPUS {
  background-color:black;
  color:white;
}

table.dataTable td.IN-PROGRESS {
  background-color:#6D9DC5;
  color:white;
}

table.dataTable td.COMPLETED {
  background-color:#00734B;
  color:white;
}

.buttons {
  float: right;
  padding-left: 15px;
}
