table.dataTable td.MEDIUM {
  background-color:yellow;
}

table.dataTable td.HIGH {
  background-color:red;
}

table.dataTable td.LOW {
  background-color:green;
  color:white;
}

table.dataTable td.NOT {
  background-color:red;
}

table.dataTable td.COMPLETED {
  background-color:green;
}

table.dataTable td.IN-PROGRESS {
  background-color:yellow;
}



