table.dataTable thead{
  background-color: lightgrey;
}

table.dataTable tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

table.dataTable tbody tr:nth-child(even) {
    background-color: #ffffff;
}

table.dataTable td.MEDIUM {
  background-color:#6D9DC5;
    text-align : center;
    font-weight: bold;
}

table.dataTable td.HIGH {
  background-color:#3066BE;
  color:white;
  text-align : center;
  font-weight: bold;
}

table.dataTable td.LOW {
  background-color:#AEECEF;
  color:black;
  text-align : center;
  font-weight: bold;
}

table.dataTable td.NOT {
  background-color:#3066BE;
  color: white;
  text-align : center;
  font-weight: bold;
}


table.dataTable td.COMPLETED {
  background-color:white;
}

table.dataTable img.table-icon {
  height:60px;
  margin-top:30px;
}

table.dataTable td.IN-PLANNING {
  background-color:#E1D89F;
  color:black; 
  text-align : center;
  font-weight: bold;
}

table.dataTable td.CAMPUS {
  background-color:black;
  color:white;
  text-align : center;
  font-weight: bold;
}

table.dataTable td.IN-PROGRESS {
  background-color:#6D9DC5;
  color:black;
  text-align : center;
  font-weight: bold;
}

table.dataTable td.COMPLETED {
  background-color:#00734B;
  color:white;
  text-align : center;
  font-weight: bold;
}

.buttons {
  float: right;
  padding-left: 15px;
}

/* Make tool description column wider and allow word-wrap so rows don't become too tall */
table.dataTable td.toolDescription,
table.dataTable th.toolDescription {
  /* set a wider fixed width so table column is wider and text wraps horizontally */
  min-width: 420px;
  width: 420px;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: anywhere;
}

/* Small screens: reduce width so layout remains responsive */
@media (max-width: 768px) {
  table.dataTable td.toolDescription,
  table.dataTable th.toolDescription {
    /* allow the column to shrink on small screens */
    width: auto;
    min-width: 0;
  }
}
#googleSheetsDataTable th:nth-child(1),
#googleSheetsDataTable td:nth-child(1) {
    width: 10%;   
}
#googleSheetsDataTable th:nth-child(2),
#googleSheetsDataTable td:nth-child(2) {
    width: 10%;
}
#googleSheetsDataTable th:nth-child(3),
#googleSheetsDataTable td:nth-child(3) {
    width: 10%;
    background:blue;
}
#googleSheetsDataTable th:nth-child(4),
#googleSheetsDataTable td:nth-child(4) {
    width: 10%;
}
#googleSheetsDataTable th:nth-child(5),
#googleSheetsDataTable td:nth-child(5) {
    width: 10%;
}
#googleSheetsDataTable th:nth-child(6),
#googleSheetsDataTable td:nth-child(6) {
    width: 10%;
}
#googleSheetsDataTable th:nth-child(7),
#googleSheetsDataTable td:nth-child(7) {
    width: 10%;
}

.badge {white-space: wrap;}    
