table.dataTable td.MEDIUM {
  background-color:#E18F34;
}

table.dataTable td.HIGH {
  background-color:#FF3347;
}

table.dataTable td.LOW {
  background-color:#939597;
  color:white;
}

table.dataTable td.NOT {
  background-color:white;
}


table.dataTable td.COMPLETED {
  background-color:white;
}

table.dataTable img.table-icon {
  height:60px;
}

table.dataTable td.IN-PROGRESS {
  background-color:white;
}
